<h1>Listing profiles</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Age</th>
      <th>Casual</th>
      <th>Competitive</th>
      <th>User ID</th>
      <th>Email</th>
      <th>XBL?</th>
      <th>Gamertag?</th>
      <th>XBLDescription?</th>
      <th>XBone?</th>
      <th>X360?</th>
      <th>PSN?</th>
      <th>PSNName?</th>
      <th>PSNDescription?</th>
      <th>PS3</th>
      <th>PS4?</th>
      <th>Vita?</th>
      <th>Steam</th>
      <th>SteamName?</th>
      <th>SteamDescription?</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.description %></td>
        <td><%= profile.user.age %></td>
        <td><%= profile.user.casual %></td>
        <td><%= profile.user.competitive %></td>
        <td><%= profile.user.id %></td>
        <td><%= profile.user.email if profile.user %></td>
        <td><%= profile.XBL %></td>
        <td><%= profile.Gamertag %></td>
        <td><%= profile.XBLDescription %></td>
        <td><%= profile.XBone %></td>
        <td><%= profile.X360 %></td>
        <td><%= profile.PSN %></td>
        <td><%= profile.PSNName %></td>
        <td><%= profile.PSNDescription %></td>
        <td><%= profile.PS3 %></td>
        <td><%= profile.PS4 %></td>
        <td><%= profile.Vita %></td>
        <td><%= profile.steam %></td>
        <td><%= profile.steamName %></td>
        <td><%= profile.steamDescription %></td>
        <td><%= link_to 'Show', profile %></td>
        
        <% if current_user && profile.user == current_user %>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
