<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>
<p>
  <strong>XBL:</strong>
  <%= @profile.XBL %>
</p>
<p>
  <strong>Gamertag:</strong>
  <%= @profile.Gamertag %>
</p>
<p>
  <strong>XBLDescription:</strong>
  <%= @profile.XBLDescription %>
</p>
<p>
  <strong>Xbone?:</strong>
  <%= @profile.XBone %>
</p>
<p>
  <strong>X360?:</strong>
  <%= @profile.X360 %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
