<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>
<p>
  <strong>XBL:</strong>
  <%= @profile.XBL %>
</p>
<p>
  <strong>Gamertag:</strong>
  <%= @profile.Gamertag %>
</p>
<p>
  <strong>XBLDescription:</strong>
  <%= @profile.XBLDescription %>
</p>
<p>
  <strong>Xbone?:</strong>
  <%= @profile.XBone %>
</p>
<p>
  <strong>X360?:</strong>
  <%= @profile.X360 %>
</p>

<p>
  <strong>PSN:</strong>
  <%= @profile.PSN %>
</p>
<p>
  <strong>PSNName:</strong>
  <%= @profile.PSNName %>
</p>
<p>
  <strong>PSNDescription:</strong>
  <%= @profile.PSNDescription %>
</p>
<p>
  <strong>PS3?:</strong>
  <%= @profile.PS3 %>
</p>
<p>
  <strong>PS4?:</strong>
  <%= @profile.PS4 %>
</p>
<p>
  <strong>Vita?:</strong>
  <%= @profile.Vita %>
</p>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
